body {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  ) !important;
}
.container {
  text-align: center;
  margin: 2em;
}
table {
  margin: auto;
}
.title {
  font-weight: bold;
}
input {
  border-radius: 21px;
  border: 5px solid #244624;
  font-size: 34px !important;
  height: 65px;
  width: 425px;
}
#screen {
  margin-top: 12px;
}
button {
  border-radius: 20px;
  font-size: 30px !important;
  width: 3em;
  height: 2.5em;
  margin: 5px !important;
}
.calculator {
  display: inline-block;
  border: 4px solid white;
  background-color: #009294;
  border-radius: 2em;
  padding: 20px;
  margin-top: 20px;
}
